<template>
  <div class=" bg-gray-100 w-full h-screen flex items-center justify-center">
    <div class=" text-xl text-slate-600 bg-white rounded-lg shadow-lg px-16 py-8 flex items-center">
      <IconCheck class="mr-2 text-green-600"/>
      Login Ok
    </div>
  </div>
</template>

<script setup>
import IconCheck from '@/components/Icons/IconCheck.vue'
</script>  
