<template>
  <div class="w-full h-screen flex items-center justify-center">
    <img
      class="absolute w-full h-screen object-cover -z-10 xs:block hidden"
      src="../assets/fondo1.jpeg"
    />
    <div
      class="bg-white w-full xs:w-96 rounded-xl px-6 py-12 flex flex-col justify-center items-center gap-y-4"
    >
      <img
        src="../assets/cintelink-logo-big.png"
        alt="Cintelink"
        class="w-40 mb-4"
      />
      <div class="w-full">
        <div class="bg-[#E5E5E5] w-full rounded-xl py-3 px-4  flex justify-between" :class="{ 'hasError': nameError !== undefined }">
          <input
            type="text"
            class="bg-transparent w-full outline-none text-xs"
            placeholder="Usuario"
            v-model="user_name"
          />
          <span class="w-4 h-4 ml-2" v-if="nameError !== undefined">
            <IconExclamationCircle class="text-red-500" />
          </span>
        </div>
        <span class="text-red-500 text-[12px] px-1">{{ nameError }}</span>
      </div>
      <div class="w-full">
        <div class="bg-[#E5E5E5] w-full rounded-xl py-3 px-4  flex justify-between" :class="{ 'hasError': passwordError !== undefined }">
          <input
            type="password"
            class="bg-transparent w-full outline-none text-xs"
            placeholder="Contraseña"
            v-model="user_pass"
          />
          <span class="w-4 h-4 ml-2" v-if="passwordError !== undefined">
            <IconExclamationCircle class="text-red-500" />
          </span>
        </div>
        <span class="text-red-500 text-[12px] px-1">{{ passwordError }}</span>
        <span class="text-red-500 text-[12px] px-1">{{ loginError }}</span>
      </div>

      <button
        class="bg-[#2D9CDB] text-white flex items-center justify-center font-semibold rounded-full py-3 px-4 mt-4 text-xs mb-4"
        @click="login"
      >
        <IconLockOpen class="w-4 h-4 mr-2" /> LOGIN
      </button>

      <div class="gap-y-1 flex flex-col items-center">
        <a href="#" class="text-[#2D9CDB] hover:text-[#65c7ff] text-xs">
          ¿Olvidaste tu contraseña?
        </a>
        <a href="#" class="text-xs hover:text-gray-400"> Crear una cuenta </a>
      </div>
    </div>
  </div>
</template>
<script setup>
import IconLockOpen from "@/components/Icons/IconLockOpen.vue";
import IconExclamationCircle from '@/components/Icons/IconExclamationCircle.vue'
import { ref } from "vue";
import axios from "axios";
import { useForm, useField } from "vee-validate";
import * as yup from "yup";
import { useRouter } from 'vue-router'

const loginError = ref("");

const schema = yup.object({
  
  user_name: yup
    .string()
    .required("El usuario es obligatorio")
    .min(3, "El nombre de usuario debe tener entre 3 y 20 caracteres.  ")
    .max(20, "El nombre de usuario debe tener entre 3 y 20 caracteres.  ")
    .matches('^[0-9a-zA-Z\.]{0,250}$','Debe contener sólo letras, números y punto (.)'),
  
  user_pass: yup
    .string()
    .required("La contraseña es obligatoria")
    .min(8, "La contraseña debe tener minimo 8 caracteres"),
});

const { meta } = useForm({
  validationSchema: schema,
});

const { value: user_name, errorMessage: nameError } = useField("user_name");
const { value: user_pass, errorMessage: passwordError } = useField("user_pass");
const router = useRouter()

const login = async () => {
  const url = "https://cintelink.com.ar/login.mod.php";
  loginError.value = "";
  
  if (meta.value.valid) {
    let res = await axios
      .post(url, {
        user: user_name.value,
        pass: user_pass.value,
        accion: "LoginWSUser",
        format: "json_object",
      })
      .catch((error) => console.log(error));
      
    if (res.data.error === 1) {
      loginError.value = "Nombre de usuario o contraseña incorrectos";
    } else {
      loginError.value = "";
      router.push({ path: "/" });
    }
  }
};
</script>
